<h2>Postings</h2>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th># of Uploads</th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= link_to posting do %>
          <%= posting.title %>
        <% end %>
    </td>
    <td><%= posting.user.email %></td>
    <td><%= posting.uploads.count %></td>
    <td><%= link_to edit_posting_path(posting) do %>
          <i class="icon-edit"></i>
        <% end %>
    </td>
    <td><%= link_to posting, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-remove"></i>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to new_posting_path, class: "btn" do %>
  <i class="icon-plus"></i>
<% end %>
