<!-- <p id="notice"><%= notice %></p>   -->
    <h2><%= @posting.title %></h2>
      <p>Created by <%= @posting.user.email %></p>

    <strong>Uploads</strong>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            File Name
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posting.uploads.each do |upload| %>
        <tr>
          <td>
            <%= link_to upload.name, [@posting, upload] %>
          </td>
          <td>
            <%= upload.description %>
          </td>
          <td>
            <%= upload.file_name %>
          </td>
          <td>
            <i class="icon-download"></i>
          </td>
          <td>
            <%= link_to [:edit, @posting, upload] do %>
            <i class="icon-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to [@posting, upload], method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="icon-remove"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <%= link_to new_posting_upload_path(@posting) do %>
            <i class="icon-plus"></i>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>


    <%= link_to 'Edit', edit_posting_path(@posting), class: "btn btn-link" %> |
    <%= link_to 'Back', postings_path, class: "btn btn-link" %>
