<h2>Uploads</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @posting.uploads.each do |upload| %>
  <tr>
    <td><%= link_to upload.name, [@posting, upload] %></td>
    <td><%= upload.description %></td>
    <td><%= link_to 'Edit', [:edit, @posting, upload] %></td>
    <td><%= link_to 'Delete Upload', [@posting, upload], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_posting_upload_path %>
